@import '../variables';

.page{
    box-sizing: border-box;
    max-width: 100%;
    min-width: 320px;
    background-color: $color-white;
    margin: 0 auto;
    padding: 0;
    font-family: 'Inter', "Arial", sans-serif;
}